<form method="post" action="{{ path('index') }}">
    <div class="mb-3">
        <label for="taskName" class="form-label">Task Name:</label>
        <input type="text" name="taskName" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">start</button>
</form>