<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
        <h1>Time Tracker</h1>
    </div>
    <div class="container">
        {{ include('add_task_form.html.twig') }}
    </div>
{% endblock %}
</body>
</html>
