<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edit Task!{% endblock %}</title>
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    {% endblock %}
    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../../../assets/time_tracker.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <h1>Time Tracker Edit Task: {{ editTaskPageDto.taskName }}</h1>
        <br>
        <p>
            <span>Start Time: {{ editTaskPageDto.startTime }}</span><br>
            <span>Duration: <span class="tt_duration">{{ editTaskPageDto.duration }}</span></span><br>
            {% if editTaskPageDto.isFinished %}
                <span>The Task is FINISHED!</span>
            {% endif %}
        </p>

        <button class="btn btn-primary tt_stop_button" data-task_name="{{ editTaskPageDto.taskName }}">STOP</button>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start At</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for otherTask in editTaskPageDto.otherTasks %}
            <tr>
                <th scope="row"><a href="{{ path('edit_task', { 'taskName': otherTask.name }) }}">{{ otherTask.name }}</a></td>
                <td>{{ otherTask.startDate }}</td>
                <td>{{ otherTask.duration }} {% if otherTask.isFinished %}(FINISHED){% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="container">
        <h2>Start new task</h2>
        {{ include('add_task_form.html.twig') }}
    </div>
{% endblock %}
</body>
<script>
    var updateDuration = function() {
        $.ajax({
            url: '{{ path('retrieve_duration') }}',
            data: {
                taskName:  '{{ editTaskPageDto.taskName }}'
            },
            success: function (response) {
                $('.tt_duration').html(response);
            },
            error: function (XMLResponse) {
                console.log(XMLResponse.responseText);
            }
        });
    };

    setInterval(updateDuration, 7100);
</script>
</html>
